body {
  font-family: Arial;
  max-width: 500px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
}

#wpsResult {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #333;
}

@media print {
  button { display: none; }
}
